
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$darkBlue: #173f4f;
$green: #73ba25;
$darkGreen: #6da741;
$red: #e53935;

// greens #6da741 #73ba25 
// blues #173f4f #00a489 #35b9ab #4183C4
// grays #222222 #292d2e #2f343a  #484e50 #5f676a 
// blue-grays #2f343f #303e49 #373d47 #777e8d 
// reds #e53935

// Grays
$black: #000; 
$darkerGray: #222; 
$darkGray: #2f343f;
$gray: #777e8d;
$lightGray: #ddd;
$white: #fff;


// Font stacks
$helvetica: "Fira Sans", Helvetica, Arial, sans-serif;
$helveticaNeue: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: "Fira Sans", Georgia, serif;
$defaultFonts: "Fira Sans", -system-ui, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
