
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: "Fira Sans", Helvetica, Arial, sans-serif;
$helveticaNeue: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: "Fira Sans", Georgia, serif;
$defaultFonts: "Fira Sans", -system-ui, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
